<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <property name="LOG_PATH" value="/opt/logs"/>

	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>hotel-booking-service.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%p\t%d{dd MMM yyyy HH:mm:ss,SSS}%thread %X {correlationId} \t%r\t%c\t[%t]\t%m%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>hotel-booking-service.%d{yyyy-MM-dd}.%i.log
                        </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>500MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<logger name="com.hotelbookingservice" level="info"
		additivity="false">
		<appender-ref ref="FILE-AUDIT" />
	</logger>

    <root level="info">
        <appender-ref ref="FILE-AUDIT" />
    </root>
</configuration>